<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <configSections>
    <section name="UtilityConfiguration" type="MrxEE_SendUtil.configuration.UtilityConfigurationSettings.UtilityConfigurationSection, UtilityConfigurationSection"/>
  </configSections>
  <UtilityConfiguration>
    <input_output inputDir="some/in/dir" outputDir="some/out/dir" archiveDir="some/arch/dir"/>
    <blacklist>
      <clear/>
      <add groupId="123" groupName="someGroup"/>
    </blacklist>
  </UtilityConfiguration>
</configuration>